@import url(https://fonts.googleapis.com/css2?family=Inika:wght@100;200;300;400;500;600;700&display=swap);

.body {
  font-family: 'Inika', serif;
}

body{
    height: 97vh;
    font-family: 'roboto';
    box-sizing: border-box;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.container{
    height: 30rem;
    width: 40rem;
    background-color: #fff;
    padding: 1rem 3rem;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
}
h2{
    display: inline-block;
}
.imgspan{
    border: 1px solid #797979;
    border-radius: 100%;
    padding: 1.1rem 0.6rem 0.4rem 0.6rem;
    transition: box-shadow 0.3s;
    cursor: pointer;
    margin-left: 19rem;
}
.imgspan:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
p{
    margin: 6px 0px 40px 0px;
    color: #bebebe;
    font-weight: bold;
}
h4{
    text-transform: capitalize;
    font-size: 18px;
    color: #898989;
    display: inline-block;
    margin: 15px 0;
    width: 25rem;
}
h3{
    text-transform: uppercase;
    font-size: 20px;
    color: #696969;
    display: inline-block;
    margin: 15px 0;
    width: 25rem;
}
h5{
    margin: 15px 0 15px 70px;
    color: #363636;
    display: inline-block;
    font-size: 22px;
}
.h5{
    margin-left: 80px;
}



.img{
    transform: translateY(-100px);
    height: 25rem;
}



